/* You can add global styles to this file, and also import other style files */
body{
    background-color: #f3f3f3;
    background-image: url('./assets/img/bank_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh !important;
}
